.weater{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather_cards{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}



.main, .temp{
  font-size: 2.5rem;
  float: center;
  align-self: center;
}
.temp{
  margin-bottom: 10%;
}


.weather-card{
  margin-right: 5%;
  color: #fff;
  background: #000;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}

.weather-card{
  display: flex;
  flex-direction: column;
  height: 60vh;
  border-radius: 10%;
  width: 15%;
}
.date{
  position: relative;
  bottom: 10%;
} 
.weather-card {
  animation: pulsate 1.5s infinite alternate ease-in-out;  
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 1em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
}

.weather-card-element{
  margin-bottom: 10%;
  animation: normal;
  /* box-shadow: none; */
}

.last{
  margin-right: 0;
}
.tn{

    text-shadow: none;
    -webkit-text-stroke: 0.2px #bc13fe;

}
.no_animate{

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;




}



@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #bc13fe,
    0 0 45px #bc13fe,
    0 0 55px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe;

  }
}


.city {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}


/* Additional styling */

.city {
font-size: 18px;
font-family: "Helvetica Neue", sans-serif;
background-color: #010a01;
}  

.city {
text-align: center;
text-transform: uppercase;
font-weight: 400;
}

.city {
  font-size: 4.2rem;
}

.pulsate_name {
   animation: pulsate 1.5s infinite alternate;     
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.user-box {
  width: 70%;
  position: relative;
}

.user-box input {
  display: inline;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s ease-in-out;
}

.user-box input:focus ~ label,
.user-box input:active ~ label{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
form{
  display: flex;
  justify-content: center;
  width: 100%;
}
form button {
  position: relative;
  display: inline;
  padding: 10px 20px;
  background: none;
  border: none;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s ease-in-out ;
  /* margin-top: 10px; */
  letter-spacing: 4px;
  cursor: pointer;

}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .weather_cards{
    margin-top: 3%;
  }
    .weather-card{
      width: 23%;
      height: 60vh;
    }
    .date{
      bottom: 13%; 
    }
    .user-box input:focus ~ label,
    .user-box input:active ~ label{
    top: 5px;
    left: -30px;
}
  }
/* mobile and*/
@media only screen and (max-width: 820px) {
  .weather-card{
    margin: 0;
    width: 40%;
    height: 80vh;
    margin-bottom: 10%;
  }
  .weather-card-element{
    margin-bottom: 10%;
  }
  .user-box {
    width: 50%;
  }
  .date{
    bottom: 10%;
  }
  .weather_cards{
    flex-direction: column;
    margin: 0;
    justify-content: baseline;
    align-items: center;
    justify-content: center;
    margin-top: 150%;
  }

.city{
  position: absolute;
  top: 5%;  
  left: 50%; 
  font-size: 3rem;
  transform: translate(-50%);
}
  .user-box input:focus ~ label,
  .user-box input:active ~ label{
  top: -20px;
  left: 0;
}
}


/* Samsung Galaxy S20 */
@media only screen and (max-width: 466px) {
  .weather-card{
    width: 60%;

    height: 65vh;
    margin-bottom: 10%;
  }
  .weather-card-element{
    margin-bottom: 10%;
  }

  .date{
    bottom: 10%;
  }
  .weather_cards{
    margin-top: 310%;
  }
}

@media only screen and (max-width: 377px) {
  .weather-card{
    width: 60%;
    height: 67vh;
    margin-bottom: 10%;
  }
  .weather-card-element{
    margin-bottom: 15%;
  }
  .date{
    bottom: 12%;
  }
  .weather_cards{
    margin-top: 330%;
  }
}

@media only screen and (max-width: 320px) {
  .weather-card{
    width: 70%;
    height: 65vh;
    margin-bottom: 60%;
  }

  .weather_cards{
    margin-top: 500%;
  }
}
@media only screen and (max-height: 1700px) {

  .weather-card{
    height: 40vh;
  }
}

@media only screen and (max-height: 950px) {

  .weather-card{
    height: 55vh;
  }
}
/* @media only screen and (max-height: 896px) {
  .weather-card{
    height: vh;
  }
} */
@media only screen and (max-height: 700px) {

  .weather-card{
    height: 65vh;
  }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


.invisiable{
  display: none;
}
.main_box{
  width: 100%;
}